.mainboxclass{
    flex: content;
    flex-flow: column;
    padding: 10px;
    flex-direction: column;
    flex-shrink: 20px;
    margin: 20px;
}

.box1{
  width: 50%;
  text-align: center;
  align-items:flex-start;
  margin: 20px 20px 70px 375px;
  padding: 10px;
  flex-direction: column;
  -ms-flex-align: start;
  flex-shrink: 20px;
}